<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuxiaowei.cloud.i.test.mapper.IMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.xuxiaowei.cloud.i.test.entity.I">
        <id column="i_id" property="iId" />
        <result column="i_msg" property="iMsg" />
        <result column="i_num" property="iNum" />
        <result column="remark" property="remark" />
        <result column="create_username" property="createUsername" />
        <result column="update_username" property="updateUsername" />
        <result column="create_ip" property="createIp" />
        <result column="update_ip" property="updateIp" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
